html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.header {
    font-family: Roboto, 'Open Sans', 'Helvetica Neue';
    background: rgb(16, 126, 45);
    margin: 0;
    padding: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
    padding: 12px 48px;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

a {text-decoration: none;}

.hero-section {
    display: flex;
}

    .hero-section div h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero-text p, .header-links * {
    font-size: 18px;
    color: #E5E7EB;
}