html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue';
}

.header {
    background: rgb(16, 126, 45);
    margin: 0;
    padding: 0;
}

.header-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
    padding: 12px 40px;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-links li a {
    padding: 24px;
}

a {text-decoration: none;}

.hero-section {
    max-width: 1000px;
    margin: auto;
    padding: 0 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    flex: 0 1 400px;
}

.hero-text button {
    padding: 8px;
    border-radius: 12px;
    border: none;
}

.hero-text button a {
    font-size: 18px;
    color: rgb(16, 126, 45);
    padding: 12px 24px;
}

.hero-section img {
    margin: 0px -150px 0 -150px;
    max-width: 600px;
    max-height: 500px;
}

.hero-section div h1 {
    color: #F9FAF8;
    font-size: 72px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.hero-text p, .header-links * {
    font-size: 18px;
    color: #E5E7EB;
}

a:hover {
    color: rgb(167, 223, 144);
}