html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue';
}

.header {
    background: rgb(16, 126, 45);
    margin: 0;
    padding: 0;
}

.header-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12px;
    padding: 12px 16px 12px 22px;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-links li a {
    padding: 24px;
}

a {text-decoration: none;}

.hero-section {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 42px;
}

.hero-text {
    max-width: 450px;
    min-width: 200px;
    flex: 1;
}

.hero-section img {
    margin: -30px -60px 0 -60px;
    max-width: auto;
    max-height: auto;
}

button {
    padding: 8px;
    border-radius: 12px;
    border: none;
}

button a {
    font-size: 18px;
    color: rgb(16, 126, 45);
    padding: 12px 24px;
}

li a:hover {
    color: rgb(167, 223, 144);
}

button:hover {
    background-color: rgb(167, 223, 144);
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin-bottom: -12px;
}

.hero-text p, .header-links * {
    font-size: 18px;
    color: #E5E7EB;
}

.sub-header {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 40px 48px;
}

.section-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px 48px;
    margin: 0 40px 40px;
}

.box h3 {
    margin: 12px 0 -12px;
    color: #1f2937;
}

.box {
    max-width: 200px;
}

.box:hover * {
    color: rgb(16, 126, 45);
}

.box p {
    color: rgb(89, 89, 89);
}

.box img {
    border-radius: 22px;
    width: 200px;
    height: 200px;
}

.quote {
    background: rgb(215, 231, 216);
}

.quote-box {
    max-width: 900px;
    margin: auto;
    padding:92px 48px;
}

.quote-box p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.quote-box div {
    font-weight: 900;
    text-align: right;
    margin-right: 12px;
}

.signup {
    margin: 92px 40px;
}

.signup-box {
    background: rgb(16, 126, 45);
    color: #F9FAF8;
    border-radius: 12px;
    padding: 48px;
    margin: 40px auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.signup-title {
    font-weight: 900;
}

.signup-description {
    color: #f4f4f4;
}

.footer {
    background: rgb(16, 126, 45);
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
}